html,
body {
  height: 100%;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

footer {
  color: #fff;
  font-size: 1rem;
  margin: 0;
  padding: 1rem;
}

a {
  color: #fff;
  text-decoration: none;
}